<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cursor homework">
    <title>HW17</title>
</head>
<body>
<main>
    <h1>Go to the pages below or check the console</h1>
    <nav>
        <ul>
            <li><a href="lesson12.html">homework 12</a></li>
            <li><a href="lesson14.html">homework 14</a></li>
            <li><a href="lesson15.html">homework 15</a></li>
        </ul>
    </nav>
</main>
</body>
</html>