<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cursor homework">
    <title>HW12</title>
    <!--    <script defer src="main.js"></script>-->
</head>
<body>

<main>
    <h1 class="alert">Please wait for the page to fully load!</h1>
    <div class="img-container">
        <img class="memImage" data-key="65" src="../static/img/povezlo.gif" alt="anonymous"/>
        <!-- no image for 83 -->
        <img class="memImage" data-key="68" src="../static/img/mission_passed.png" alt="mission passed"/>
        <img class="memImage" data-key="70" src="../static/img/otdai_salo.gif" alt="otdai salo"/>
        <img class="memImage" data-key="71" src="../static/img/es_minus_3.gif" alt="es minus 3"/>
        <img class="memImage" data-key="72" src="../static/img/polish-cow.gif" alt="polish cow"/>
        <!-- no image for 74 -->
        <img class="memImage" data-key="75" src="../static/img/muha_tozhe_vertolet.jpg"
             alt="muha tozhe vertolet"/>
        <img class="memImage" data-key="76" src="../static/img/incorrect.gif" alt="incorrect"/>
    </div>

    <div class="keys">
        <div class="key" data-key="65">
            <kbd>A</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="83">
            <kbd>S</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="68">
            <kbd>D</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="70">
            <kbd>F</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="71">
            <kbd>G</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="72">
            <kbd>H</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="74">
            <kbd>J</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="75">
            <kbd>K</kbd>
            <span class="sound">?</span>
        </div>
        <div class="key" data-key="76">
            <kbd>L</kbd>
            <span class="sound">?</span>
        </div>
    </div>
    <img id="tbc_arrow" src="../static/img/to_be_continued_arrow.png" alt="to be continued"/>
</main>

<audio data-key="65" src="../static/sounds/povezlo-povezlo.wav"></audio>
<audio data-key="83" src="../static/sounds/tutututu-mem-demotivator.wav"></audio>
<audio data-key="68" src="../static/sounds/muzyika-s-proydennoy-missiey-iz-gta-san-andreas.wav"></audio>
<audio data-key="70" src="../static/sounds/otdai-salo.wav"></audio>
<audio data-key="71" src="../static/sounds/es-minus-ehuuu.wav"></audio>
<audio data-key="72" src="../static/sounds/polskaya-korova.wav"></audio>
<audio data-key="74" src="../static/sounds/mem-okontsovka-filma-to-be-continued.wav"></audio>
<audio data-key="75" src="../static/sounds/a-muha-toje-vertolet-polnaya-versiya-pesni.wav"></audio>
<audio data-key="76" src="../static/sounds/nepravilno-poprobuy-esch-raz.wav"></audio>
</body>
</html>